<div class="inner">
  <h1><%= t('.title') %> | <%= link_to t('.sign_up'), new_user_registration_path %></h1>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'block'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="group">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox field">
          <%= check_box_tag :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
    <div class="controls">
      <%= f.submit t('.submit'), :id => 'submit' %>
    </div>
  <% end %>
</div>
